<div class="container-fluid">
  <div class="row">
	  	<ng-container *ngIf="!savenextshow">
			<div class="col-md-4">
				<div class="first stepper stepper-active">
					<h5 class="stg1text" style="margin: 0 0 35px 0px;">Test Configuration</h5>
					<!-- <ng-container *ngIf="step1show && !nextstepshow">
						<span style="color: #fff;margin: 20px 0 0 0;font-weight: bold;;">Test Planning - 1</span>
					</ng-container>
					<ng-container *ngIf="nextstepshow">
						<span style="color: #fff;margin: 20px 0 0 0;font-weight: bold;;">Test Planning - 2</span>
					</ng-container>
					<ng-container *ngIf="saveandnextshow">
						<span style="color: #fff;margin: 20px 0 0 0;font-weight: bold;;">Test Planning - 3</span>
					</ng-container> -->
					<nav aria-label="breadcrumb">
							<ol class="breadcrumb" style="background-color:#E30073;padding: 0 0 0 8%;">
							<ng-container *ngIf="step1show && !nextstepshow">
								<li class="breadcrumb-item active" aria-current="page"><a (click)="Previous()">Test Planing-1</a></li><span style="margin: 0 5px 0 5px;"> --> </span>
							</ng-container>
							<ng-container *ngIf="step1show && nextstepshow || saveandnextshow">
								<li class="breadcrumb-item"><a (click)="Previous()" style="color: #fff;cursor: pointer;">Test Planing-1</a></li><span style="margin: 0 5px 0 5px;"> --> </span>
							</ng-container>
							<ng-container *ngIf="nextstepshow">
								<li class="breadcrumb-item active" aria-current="page"><a (click)="Back()">Test Planing-2</a></li><span style="margin: 0 5px 0 5px;"> --> </span>
							</ng-container>
							<ng-container *ngIf="!nextstepshow">
								<li class="breadcrumb-item"><a style="color: #fff;cursor: pointer;" (click)="Back()">Test Planing-2</a></li><span style="margin: 0 5px 0 5px;"> --> </span>
							</ng-container>
							<ng-container *ngIf="saveandnextshow">
								<li class="breadcrumb-item active" aria-current="page"><a>Test Planing-3</a></li>
							</ng-container>
							<ng-container *ngIf="!saveandnextshow">
								<li class="breadcrumb-item"><a style="color: #fff;">Test Planing-3</a></li>
							</ng-container>
							</ol>
						  </nav>
					<div class="col-md-12">
					<!-- <aw-wizard
						#wizard1
						id="w1wizard1"
						[navBarLayout]="'large-filled'"
						[disableNavigationBar]="true"
						[defaultStepIndex]="stepindex"
					>
						<aw-wizard-step
						[stepTitle]="''"
						[stepId]="1"
						(stepEnter)="enterStep($event)"
						[navigationSymbol]="{ symbol: '1' }"
						>
						<ng-template awWizardStepSymbol *ngIf="CompletedStep">
							<i class="fa fa-check"></i>
						</ng-template>
						</aw-wizard-step>
						<aw-wizard-step
						[stepTitle]="''"
						[stepId]="2"
						(stepEnter)="enterStep($event)"
						[navigationSymbol]="{ symbol: '2' }"
						>
						</aw-wizard-step>
					</aw-wizard> -->
					</div>
				</div>
				</div>
			
				<div class="col-md-4">
				<div class="second stepper">
					<h5 class="stg2text">Control Store Matching</h5>
					<!-- <div class="md-stepper-horizontal">
					<div class="md-step">
						<div class="md-step-circle"><span>3</span></div>
						<div class="md-step-bar-left"></div>
						<div class="md-step-bar-right"></div>
					</div>
					<div class="md-step">
						<div class="md-step-circle"><span>4</span></div>
						<div class="md-step-bar-left"></div>
						<div class="md-step-bar-right"></div>
					</div>
					<div class="md-step">
						<div class="md-step-circle"><span>5</span></div>
						<div class="md-step-bar-left"></div>
						<div class="md-step-bar-right"></div>
					</div>
					</div> -->
				</div>
				</div>
			
				<div class="col-md-4">
				<div class="third stepper">
					<h5 class="stg3text">Test Measurement</h5>
					<!-- <div class="md-stepper-horizontal">
					<div class="md-step">
						<div class="md-step-circle"><span>6</span></div>
						<div class="md-step-bar-left"></div>
						<div class="md-step-bar-right"></div>
					</div>
					<div class="md-step">
						<div class="md-step-circle"><span>7</span></div>
						<div class="md-step-bar-left"></div>
						<div class="md-step-bar-right"></div>
					</div>
					</div> -->
				</div>
				</div>
	  </ng-container>
    
  </div>

  <ng-container *ngIf="!createtestshow">
      <div class="container" [hidden]="showcnt1" style="margin-top: 3%;">
          <button mat-raised-button class="btn createbutton" (click)="CreateTest()"><b>Create a New Test</b></button><br>
          <h3 style="margin-top: 6%;"><b>Test Summary</b></h3>
          <div style="float:right;">
              <input
                class="form-control"
                type="text"
                (keyup)="FilterLoadSavedTest($event.target.value)"
                placeholder="&#xF002;&nbsp; Search"
                style="font-family:Arial, FontAwesome;margin-bottom: 1rem;"
              />
            </div>
          <table
          style="margin-top: 3%;"
          mat-table
          matSort
          [dataSource]="
            LoadSavedTestdata
              | paginate: { itemsPerPage: loadsize, currentPage: lp, totalItems: Load_saved_DATA.length }
          "
          (matSortChange)="sortDataLoadSaved($event)"
          class="mat-elevation-z8"
        >
          <!-- TestName Column -->
          <ng-container matColumnDef="test_name">
            <th mat-header-cell *matHeaderCellDef mat-sort-header style="width: 14%;padding: 0;">
              <span class="table-header-label">Test Names</span> &nbsp;<img
                class="logo"
                src="assets/images/sort-arrow.png"
                alt="sort"
              />
            </th>
            <td mat-cell *matCellDef="let row">{{ row.test_name }}</td>
          </ng-container>
    
          <!-- StoreName Column -->
          <ng-container matColumnDef="status">
            <th mat-header-cell *matHeaderCellDef mat-sort-header style="width: 14%;">
              <span class="table-header-label">Status &nbsp;</span
              ><img class="logo" src="assets/images/sort-arrow.png" alt="sort" />
            </th>
    
            <td mat-cell *matCellDef="let row">{{row.status}}</td>
          </ng-container>
    
          <!-- Details Column -->
          <ng-container matColumnDef="details">
              <th mat-header-cell *matHeaderCellDef mat-sort-header style="width: 18%;">
                <span class="table-header-label">Details</span> &nbsp;<img
                  class="logo"
                  src="assets/images/sort-arrow.png"
                  alt="sort"
                />
              </th>
              <td mat-cell *matCellDef="let row">{{ row.details }}</td>
            </ng-container>
    
          <ng-container matColumnDef="Created">
            <th mat-header-cell *matHeaderCellDef mat-sort-header style="width: 13%;">
              <span class="table-header-label">Created at</span> &nbsp;<img
                class="logo"
                src="assets/images/sort-arrow.png"
                alt="sort"
              />
            </th>
            <td mat-cell *matCellDef="let row">{{row.Created}}</td>
          </ng-container>
    
          <ng-container matColumnDef="test_window">
              <th mat-header-cell *matHeaderCellDef mat-sort-header style="width: 16%;">
                <span class="table-header-label">Test Window</span> &nbsp;<img
                  class="logo"
                  src="assets/images/sort-arrow.png"
                  alt="sort"
                />
              </th>
              <td mat-cell *matCellDef="let row">{{row.test_window}}</td>
            </ng-container>
    
          <ng-container matColumnDef="Modified">
            <th mat-header-cell *matHeaderCellDef mat-sort-header style="width: 16%;">
              <span class="table-header-label">Last Modified at</span> &nbsp;<img
                class="logo"
                src="assets/images/sort-arrow.png"
                alt="sort"
              />
            </th>
            <td mat-cell *matCellDef="let row">
              {{row.Modified}}
            </td>
          </ng-container>
          <!-- Actions Column -->
    
          <ng-container matColumnDef="Actions">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>
              <span class="table-header-label">Actions &nbsp;</span>
            </th>
            <td mat-cell *matCellDef="let row">
              <!-- <button mat-raised-button class="edit_button penicon" (click)="LoadData(row.test_id,row.test_name)"> -->
                <img class="pencil" src="assets/images/edit.png" style="width: 13px" />
              <!-- </button> -->
    
              <!-- <button mat-raised-button color="delete_button" class="deleteicon" (click)="DeleteData(row.test_id)"> -->
                <img class="bin" src="assets/images/delete.png" style="width: 13px" />
			  <!-- </button> -->

			  <!-- <button mat-raised-button color="delete_button" class="deleteicon" (click)="DeleteData(row.test_id)"> -->
				<img class="bin" src="assets/images/view.png" style="width: 13px" />
			<!-- </button> -->
            </td>
          </ng-container>
    
          <tr mat-header-row *matHeaderRowDef="displayedColumnsLoadSaved"></tr>
          <tr mat-row *matRowDef="let row; columns: displayedColumnsLoadSaved" (click)="selection.toggle(row)"></tr>
        </table>
        <div class="row">
            <div class="col-md-10">
              <pagination-controls
                (pageChange)="lp = $event; paginateloadsaved(lp)"
                nextLabel=""
                previousLabel=""
              ></pagination-controls>
            </div>
            <div class="col-md-2">
              <label style="width:43%;float: left;margin-top: 22px;">Per page</label>
              <select
                class="form-control"
                style="width:43%;margin-top: 1rem;"
                [(ngModel)]="loadperpage"
                (change)="perpageLoadSaved($event)"
              >
                <option value="10"> 10 </option>
                <option value="25"> 25 </option>
                <option value="50"> 50 </option>
              </select>
            </div>
          </div>
      </div>
  </ng-container>
  

  <ng-container *ngIf="step1show && !nextstepshow">
    
    <div class="row">
        <div class="col-md-4 testform" [hidden]="plantestdrpdown">
			<label class="createtestlabel">Test Planning</label>
			<div class="form-group" style="max-width: 83%;">
				<label>Enter Test Name</label>
				<input class="form-control borderradnone" type="text" [(ngModel)]="TestName" style="font-family:Arial, FontAwesome;margin-bottom: 1rem;" placeholder="Enter Test Name"/>
			</div>
			<div class="form-group" style="margin: 0;max-width: 83%;">
				<label>Select Type of Test</label>
				<ngx-select
				[items]="typetest"
				[(ngModel)]="TypeTest"
				(select)="showcontrolstore($event)"
				[noAutoComplete]="true"
				placeholder="--- Select ---"
				style="width: 100%;"
				class="borderradnone"
				>
				</ngx-select>
			</div>
			<div class="form-group" style="margin-top: 4%;max-width: 83%;">
					<label>Select Target Variable</label>
					<ngx-select
					[items]="plantest"
					[(ngModel)]="TargetVariable"
					(select)="showcontrolstore($event)"
					[noAutoComplete]="true"
					placeholder="--- Select ---"
					style="width: 100%;"
					class="borderradnone"
					>
					</ngx-select>
				</div>
				<button mat-raised-button class="btn createbutton" style="width: 35%;margin: 196px 0 0 0px;" (click)="GoBack()"><b>Back</b></button>
		  </div>
		  <div class="col-md-3">
				<div class="form-group" style="max-width: 100%;">
					<label>Enter Brief Description</label>
					<textarea class="form-control borderradnone" [(ngModel)]="Description" style="font-family:Arial, FontAwesome;margin-bottom: 1rem;height: 100px;" placeholder="Enter Description"></textarea>
					<!-- <input class="form-control borderradnone" type="text" style="font-family:Arial, FontAwesome;margin-bottom: 1rem;"/> -->
				</div>
				<div class="form-group" style="max-width: 100%;">
					<label>Enter Additional Details</label>
					<textarea class="form-control borderradnone" [(ngModel)]="AddDetails" style="font-family:Arial, FontAwesome;margin-bottom: 1rem;height: 100px;" placeholder="Enter Additional Details"></textarea>
					<!-- <input class="form-control borderradnone" type="text" style="font-family:Arial, FontAwesome;margin-bottom: 1rem;"/> -->
				</div>
		  </div>
		  <div class="col-md-4">
				<div class="form-group" style="max-width: 100%;">
					<mat-card class="testcard">
						<label class="testappsel">Test Applicability Selection</label>
						<div class="form-group" style="margin: 0 0 0 0px;max-width: 100%;">
							<label style="color: #0000A0;">Select Banner</label>
							<ngx-select
							[items]="banner"
							[(ngModel)]="Banner"
							(select)="showcontrolstore($event)"
							[noAutoComplete]="true"
							placeholder="--- Select ---"
							style="width: 100%;"
							class="borderradnone"
							>
							</ngx-select>
						</div>
						<div class="form-group applform">
							<label style="color: #0000A0;">Select Segment</label>
							<ngx-select
							[items]="segment"
							[(ngModel)]="Segment"
							(select)="showcontrolstore($event)"
							[noAutoComplete]="true"
							placeholder="--- Select ---"
							style="width: 100%;"
							class="borderradnone"
							>
							</ngx-select>
						</div>
						<div class="form-group applform">
							<label style="color: #0000A0;">Select Territory</label>
							<ngx-select
							[items]="territory"
							[(ngModel)]="Territory"
							(select)="showcontrolstore($event)"
							[noAutoComplete]="true"
							placeholder="--- Select ---"
							style="width: 100%;"
							class="borderradnone"
							>
							</ngx-select>
						</div>
						<div class="form-group applform">
							<label style="color: #0000A0;">Select Store Grid</label>
							<ngx-select
							[items]="storegrid"
							[(ngModel)]="StoreGrid"
							(select)="showcontrolstore($event)"
							[noAutoComplete]="true"
							placeholder="--- Select ---"
							style="width: 100%;"
							class="borderradnone"
							>
							</ngx-select>
						</div>
						<div class="form-group applform">
							<label style="color: #0000A0;">Select Category</label>
							<ngx-select
							[items]="category"
							[(ngModel)]="Category"
							(select)="showcontrolstore($event)"
							[noAutoComplete]="true"
							placeholder="--- Select ---"
							style="width: 100%;"
							class="borderradnone"
							>
							</ngx-select>
						</div>
					</mat-card>
				</div>
				<button mat-raised-button type="submit" class="btn createbutton" style="width: 35%;margin: 0 0 0 13%;" (click)="SavePlanning()"><b>Save</b></button>
				<button mat-raised-button class="btn createbutton pull-right" style="width: 35%;margin-bottom: 5%;" (click)="NextStep()"><b>Next</b></button>
		  </div>
    </div>
      
  </ng-container>

  <ng-container *ngIf="nextstepshow && !savecontshow">
	  <div class="row">
			<div class="col-md-3 testform">
				<!-- <label class="testplanform">Test Planning</label> -->
				<label class="createtestlabel" style="width: 100%;">Test Parameter Selection</label>
				<label class="label1">Enter values for any three of the following metrics</label>
				<!-- <label class="testplanform">Test Parameter Selection</label> -->
				<div class="form-group" style="margin: 7% 0 0 0;max-width: 100%;">
					<label>Pre-Test Window</label>
					<div class="pretestborder">
						<div class="row">
							<div class="col-md-6">
								<label>Start</label>
								<input class="form-control borderradnone" [(ngModel)]="PreTestStart" type="text" name="start" style="font-family:Arial, FontAwesome;margin-bottom: 1rem;" [matDatepicker]="picker1"/>
									<mat-datepicker-toggle matSuffix class="calicon col-md-12" [for]="picker1"></mat-datepicker-toggle>
									<mat-datepicker #picker1 startView="year" [startAt]="startDate"></mat-datepicker>
							</div>
							<div class="col-md-6">
								<label>End</label>
								<input class="form-control borderradnone" [(ngModel)]="PreTestEnd" type="text" name="end" style="font-family:Arial, FontAwesome;margin-bottom: 1rem;" [matDatepicker]="picker2"/>
								<mat-datepicker-toggle matSuffix class="calicon col-md-12" [for]="picker2"></mat-datepicker-toggle>
									<mat-datepicker #picker2 startView="year" [startAt]="startDate"></mat-datepicker>
							</div>
						</div>
					</div>
				</div>
				<div class="form-group" style="margin: 7% 0 10% 0;max-width: 100%;">
					<label>Test Window</label>
					<div class="pretestborder">
						<div class="row">
							<div class="col-md-6">
								<label>Start</label>
								<input class="form-control borderradnone" [(ngModel)]="TestStart" type="text" style="font-family:Arial, FontAwesome;margin-bottom: 1rem;" [matDatepicker]="picker3"/>
								<mat-datepicker-toggle matSuffix class="calicon col-md-12" [for]="picker3"></mat-datepicker-toggle>
									<mat-datepicker #picker3 startView="year" [startAt]="startDate"></mat-datepicker>
							</div>
							<div class="col-md-6">
								<label>End</label>
								<input class="form-control borderradnone" [(ngModel)]="TestEnd" type="text" style="font-family:Arial, FontAwesome;margin-bottom: 1rem;" [matDatepicker]="picker4"/>
								<mat-datepicker-toggle matSuffix class="calicon col-md-12" [for]="picker4"></mat-datepicker-toggle>
									<mat-datepicker #picker4> startView="year" [startAt]="startDate"</mat-datepicker>
							</div>
						</div>
					</div>
				</div>
				<div class="form-group" style="max-width: 100%;margin: 6% 0 0 0;">
					<label>Enter Confidence Level</label><img class="infoicon" matTooltip="Enter Confidence Level in % , eg 80, 95 etc" [matTooltipPosition]="position.value" src="assets/images/information.png" alt="sort" />
					<input class="form-control borderradnone" type="text" placeholder="Enter Confidence Level" (keypress)="omit_char($event)" [(ngModel)]="ConfLevel" style="font-family:Arial, FontAwesome;margin-bottom: 1rem;width: 100%;"/>
				</div>
				<div class="form-group" style="margin: 0;max-width: 100%;">
					<label>Margin of Error</label><img class="infoicon" matTooltip="Minimum difference in target variable to be measured in % eg, 3, 5" [matTooltipPosition]="position.value" src="assets/images/information.png" alt="sort" />
					<!-- <ngx-select
					[items]="error"
					[(ngModel)]="itemId"
					(select)="showcontrolstore($event)"
					[noAutoComplete]="true"
					placeholder="--- Select ---"
					style="width: 100%;"
					class="borderradnone"
					>
					</ngx-select> -->
					<input class="form-control borderradnone" type="text" placeholder="Enter No of Error" (keypress)="omit_char($event)" [(ngModel)]="NoofError" style="font-family:Arial, FontAwesome;margin-bottom: 1rem;width: 100%;"/>
				</div>
				<div class="form-group" style="margin: 7% 0 7% 0;max-width: 100%;">
					<label>Number of Test Stores</label>
					<input class="form-control borderradnone" (keypress)="omit_char($event)" placeholder="Number of Test Stores" [(ngModel)]="NoofTestStore" type="text" style="font-family:Arial, FontAwesome;margin-bottom: 1rem;"/>
				</div>
				
				<!-- <div class="form-group" style="margin: 7% 0 0 0;max-width: 100%;">
					<label>Duration of Test Window</label>
					<ngx-select
					[items]="plantest"
					[(ngModel)]="itemId"
					(select)="showcontrolstore($event)"
					[noAutoComplete]="true"
					placeholder="--- Select ---"
					style="width: 100%;"
					class="borderradnone"
					>
					</ngx-select>
				</div> -->
				
				<button mat-raised-button class="btn goback" (click)="Previous()" style="float: left;"><b>Back</b></button>
				<button mat-raised-button class="btn refresh" style="float: left;" (click)="ResetTestParameter()"><b>Reset</b></button>
				<button mat-raised-button class="btn compute" style="float: left;"><b>Compute</b></button>
			</div>
			<div class="col-md-4">
				<div class="form-group" style="max-width: 100%;">
					<textarea class="form-control borderradnone" placeholder="Enter Description" style="font-family:Arial, FontAwesome;margin-bottom: 1rem;height: 295px;margin-left: 7%;width: 100%;"></textarea>
				</div>
				<!-- <button mat-raised-button class="btn uploadstorebut"><b>View / Upload Test Stores</b></button> -->
			</div>
			<div class="col-md-4">
				<div class="form-group" style="max-width: 100%;">
					<mat-card class="testcard" style="height:400px">
						<label class="testappsel">Test Applicability Selection</label>
						<div class="form-group" style="margin: 0 0 0 0px;max-width: 100%;">
							<!-- <button mat-raised-button class="btn createbutton" style="width:100%"><b>Test Store Summary</b></button> -->
							<label style="color: #0000A0">Test Store Summary</label>
							<input class="form-control borderradnone" type="text" style="font-family:Arial, FontAwesome;margin-bottom: 1rem;"/>
						</div>
						<div class="form-group" style="max-width: 100%;">
							<button mat-raised-button class="btn createbutton" style="width:100%"><b>View Test Summary</b></button>
						</div>
					</mat-card>
				</div>
				<div style="height: 265px;margin: 30px 0 27px 0;"></div>
				<button mat-raised-button class="btn createbutton pull-right" style="width: 30%;" (click)="SaveContinue()" ><b>Next</b></button>
				<button mat-raised-button class="btn createbutton pull-right" style="width: 30%;    margin: 0 5% 0px 0;" (click)="TestParameter()"><b>Save</b></button>
				
			</div>	
	  </div>
  </ng-container>
  <ng-container *ngIf="savecontshow">
		<div class="container" [hidden]="showcnt1" style="margin-top: 3%;">
			<h3 style="margin-top: 6%;"><b>Test Store Selected</b></h3>
			<button mat-raised-button class="btn createbutton pull-right" style="width: 20%;" ><b>Export Test Stores</b></button>
			<button mat-raised-button class="btn createbutton pull-right" style="width: 20%;    margin: 0 15px 0 0;"><b>Upload Test Stores</b></button>
			<br><br>
			<div style="float:right;">
				<input
					class="form-control"
					type="text"
					(keyup)="FilterLoadSavedTest($event.target.value)"
					placeholder="Filter"
					style="font-family:Arial, FontAwesome;margin-bottom: 1rem;"
				/>
				</div>
			<table
			style="margin-top: 3%;"
			mat-table
			matSort
			[dataSource]="
				TestStoreSelectTable
				| paginate: { itemsPerPage: loadsize, currentPage: lp, totalItems: Load_saved_DATA.length }
			"
			(matSortChange)="sortDataLoadSaved($event)"
			class="mat-elevation-z8"
			>
			<ng-container matColumnDef="select">
				<th mat-header-cell *matHeaderCellDef style="width: 18%;">
						<span class="table-header-label" style="margin: 5px 0 0 0;">Select Store</span><br>
					<mat-checkbox (change)="$event ? masterToggleTestStore() : null"
								[checked]="selection.hasValue() && isAllSelectedTestStore()"
								[indeterminate]="selection.hasValue() && !isAllSelectedTestStore()"
								[aria-label]="checkboxLabelTeststore()">
					</mat-checkbox><span class="table-header-label" style="margin: 0 0 0 5px;">Select All</span>
				</th>
				<td mat-cell *matCellDef="let row">
					<mat-checkbox (click)="$event.stopPropagation()"
								(change)="$event ? selection.toggle(row) : null"
								[checked]="selection.isSelected(row)"
								[aria-label]="checkboxLabelTeststore(row)">
					</mat-checkbox>
				</td>
			</ng-container>
			<!-- TestName Column -->
			<ng-container matColumnDef="store_no">
				<th mat-header-cell *matHeaderCellDef mat-sort-header style="width: 14%;padding: 0;">
				<span class="table-header-label">Test Store No</span> &nbsp;<img
					class="logo"
					src="assets/images/sort-arrow.png"
					alt="sort"
				/>
				</th>
				<td mat-cell *matCellDef="let row">{{ row.store_no }}</td>
			</ng-container>
		
			<!-- StoreName Column -->
			<ng-container matColumnDef="store_name">
				<th mat-header-cell *matHeaderCellDef mat-sort-header style="width: 14%;">
				<span class="table-header-label">Store name &nbsp;</span
				><img class="logo" src="assets/images/sort-arrow.png" alt="sort" />
				</th>
		
				<td mat-cell *matCellDef="let row">{{row.store_name}}</td>
			</ng-container>
		
			<!-- Details Column -->
			<ng-container matColumnDef="banner">
				<th mat-header-cell *matHeaderCellDef mat-sort-header style="width: 18%;">
					<span class="table-header-label">Banner</span> &nbsp;<img
					class="logo"
					src="assets/images/sort-arrow.png"
					alt="sort"
					/>
				</th>
				<td mat-cell *matCellDef="let row">{{ row.banner }}</td>
				</ng-container>
		
			<ng-container matColumnDef="segment">
				<th mat-header-cell *matHeaderCellDef mat-sort-header style="width: 13%;">
				<span class="table-header-label">Segment</span> &nbsp;<img
					class="logo"
					src="assets/images/sort-arrow.png"
					alt="sort"
				/>
				</th>
				<td mat-cell *matCellDef="let row">{{row.segment}}</td>
			</ng-container>
		
			<ng-container matColumnDef="store_segment">
				<th mat-header-cell *matHeaderCellDef mat-sort-header style="width: 16%;">
					<span class="table-header-label">Store Segment</span> &nbsp;<img
					class="logo"
					src="assets/images/sort-arrow.png"
					alt="sort"
					/>
				</th>
				<td mat-cell *matCellDef="let row">{{row.store_segment}}</td>
				</ng-container>
		
			<ng-container matColumnDef="avg_duration">
				<th mat-header-cell *matHeaderCellDef mat-sort-header style="width: 16%;">
				<span class="table-header-label">Average Duration</span> &nbsp;<img
					class="logo"
					src="assets/images/sort-arrow.png"
					alt="sort"
				/>
				</th>
				<td mat-cell *matCellDef="let row">
				{{row.avg_duration}}
				</td>
			</ng-container>

			<ng-container matColumnDef="act_perform">
					<th mat-header-cell *matHeaderCellDef mat-sort-header style="width: 16%;">
					<span class="table-header-label">Activities Performed</span> &nbsp;<img
						class="logo"
						src="assets/images/sort-arrow.png"
						alt="sort"
					/>
					</th>
					<td mat-cell *matCellDef="let row">
					{{row.act_perform}}
					</td>
				</ng-container>
			<!-- Actions Column -->
		
			<ng-container matColumnDef="others">
				<th mat-header-cell *matHeaderCellDef mat-sort-header>
				<span class="table-header-label">Other Store Details like GSV,CSV,RSV &nbsp;</span>
				</th>
				<td mat-cell *matCellDef="let row">
				{{row.others}}
				</td>
			</ng-container>
		
			<tr mat-header-row *matHeaderRowDef="displayedColumnsTestStore"></tr>
			<tr mat-row *matRowDef="let row; columns: displayedColumnsTestStore" (click)="selection.toggle(row)"></tr>
			</table>
			<div class="row">
				<div class="col-md-10">
				<pagination-controls
					(pageChange)="lp = $event; paginateloadsaved(lp)"
					nextLabel=""
					previousLabel=""
				></pagination-controls>
				</div>
				<div class="col-md-2">
				<label style="width:43%;float: left;margin-top: 22px;">Per page</label>
				<select
					class="form-control"
					style="width:43%;margin-top: 1rem;"
					[(ngModel)]="loadperpage"
					(change)="perpageLoadSaved($event)"
				>
					<option value="10"> 10 </option>
					<option value="25"> 25 </option>
					<option value="50"> 50 </option>
				</select>
				</div>
			</div>
		</div>
		<button mat-raised-button class="btn createbutton" (click)="Back()" style="width: 10%;margin: 6% 0 0 6%;" ><b>Back</b></button>
		<button mat-raised-button class="btn createbutton pull-right" style="width: 15%;margin: 6% 6% 5% 0;" (click)="NestPage()"><b>Save and Next</b></button>
		<button mat-raised-button class="btn createbutton pull-right" style="width: 17%;margin: 6% 1% 5% 0;" (click)="ConfirmValidate()"><b>Confirm and validate</b></button>
  	</ng-container>
</div>
