body {
  background: #ccc !important;
}

q {
  font-style: italic;
  font-size: 1.2rem;
  quotes: "« " " »";
}

/*Common*/
div.contentdiv {
  width: calc(100vw + 30px);
  height: calc(100vh - 160px);
  margin: 0;
  background-color: #ebebeb;
  display: table;
  overflow: hidden;
}

.row {
  background-color: #ebebeb;
}

.form-group {
  margin-bottom: 1rem;
  min-width: 300px;
  max-width: 330px;
  margin-top: 3rem;
}

.content-border {
  height: 125px;
  width: 100%;
  border: 1px solid #d7d7d7;
  margin-top: 5vw;
}

label {
  position: relative;
  color: #000000;
  text-align: left !important;
}

.infoicon {
  height: 15px;
  width: 15px;
  margin: 0 0 2px 3px;
}

.refreshicon {
  float: left;
  margin: 10px 0px 0px 5px;
  height: 20px;
  width: 20px;
  cursor: pointer;
}

.calicon {
  position: absolute;
  top: 30px;
  right: 0px;
  left: 58%;
}

/*Common*/
/*---------------------------Arch wizard custom-------------------*/
/*First stepper stage1*/
.first.stepper {
  height: 100px;
  background: #ffffff;
  color: #fff;
  position: relative;
  text-align: center;
  line-height: 40px;
  left: -20px;
}

.first.stepper:after {
  content: "";
  position: absolute;
  height: 0;
  width: 0;
  left: 100%;
  top: 0;
  border: 50px solid transparent;
  border-left: 30px solid #e30073;
}

.stg1text {
  font-size: 1.25rem;
  position: relative;
  top: 37%;
  font-weight: bold;
}

.label1 {
  margin-top: 7%;
  font-size: 20px;
  font-weight: bold;
  color: #695b5b;
  text-align: center !important;
}

/*First stepper stage1*/
/*Second stepper stage2*/
.second.stepper {
  height: 100px;
  background: #ffffff;
  color: #fff;
  text-align: center;
  line-height: 40px;
  position: relative;
  left: -10px;
  /*-5px*/
}

td tbody {
  width: 120%;
  display: table;
  text-align: left;
}
.second.stepper:before {
  content: "";
  position: absolute;
  width: 0;
  height: 0;
  top: 0;
  left: -30px;
  border: 50px solid #ffffff;
  border-left: 30px solid transparent;
}

.second.stepper:after {
  content: "";
  position: absolute;
  height: 0;
  width: 0;
  left: 100%;
  top: 0;
  border: 50px solid transparent;
  border-left: 30px solid #ffffff;
}

.stg2text {
  font-size: 1.25rem;
  position: relative;
  top: 37%;
  font-weight: bold;
  color: #000000;
}

/*Second stepper stage2*/
/*Third stepper stage3*/
.third.stepper {
  height: 100px;
  background: #ffffff;
  color: #fff;
  position: relative;
  text-align: center;
  line-height: 40px;
  left: 10px;
}

.third.stepper:before {
  content: "";
  position: absolute;
  width: 0;
  height: 0;
  top: 0;
  left: -41px;
  /*-30px*/
  border: 50px solid #ffffff;
  border-left: 30px solid transparent;
}

.stg3text {
  font-size: 1.25rem;
  position: relative;
  top: 37%;
  font-weight: bold;
  color: #000000;
}

/*Third stepper stage3*/
.stepper-active {
  background: #e30073 !important;
}

/*Arch wizard stage color*/
::ng-deep #w1wizard1 aw-wizard-navigation-bar.horizontal.large-filled ul.steps-indicator li.current .step-indicator {
  background-color: #0073dd;
}

/*Arch wizard stage color*/
/*Wizard1-stepper 4,5,6 navbar */
.md-stepper-horizontal {
  display: table;
  width: 100%;
  margin: 0 auto;
}

.md-stepper-horizontal .md-step {
  display: table-cell;
  position: relative;
  padding: 24px;
  padding-top: 12px;
}

.md-stepper-horizontal .md-step:first-child .md-step-bar-left,
.md-stepper-horizontal .md-step:last-child .md-step-bar-right {
  display: none;
}

.md-stepper-horizontal .md-step .md-step-circle {
  width: 35px;
  height: 35px;
  margin: 0 auto;
  background-color: #a0a0a0;
  border-radius: 50%;
  text-align: center;
  line-height: 31px;
  font-size: 17px;
  font-weight: 600;
  color: #ffffff;
}

.md-stepper-horizontal.green .md-step.active .md-step-circle {
  background-color: #00ae4d;
}

.md-stepper-horizontal.orange .md-step.active .md-step-circle {
  background-color: #f96302;
}

.md-stepper-horizontal .md-step.active .md-step-circle {
  background-color: rgb(33, 150, 243);
}

.md-stepper-horizontal .md-step.done .md-step-circle:before {
  font-family: "FontAwesome";
  font-weight: 100;
  content: "\f00c";
}

.md-stepper-horizontal .md-step.done .md-step-circle *,
.md-stepper-horizontal .md-step.editable .md-step-circle * {
  display: none;
}

.md-stepper-horizontal .md-step.active.done .md-step-title,
.md-stepper-horizontal .md-step.active.editable .md-step-title {
  font-weight: 600;
}

.md-stepper-horizontal .md-step .md-step-bar-left,
.md-stepper-horizontal .md-step .md-step-bar-right {
  position: absolute;
  top: 31px;
  height: 1px;
  border-top: 1px solid #e6e6e6;
}

.md-stepper-horizontal .md-step .md-step-bar-right {
  right: 0;
  left: 50%;
  margin-left: 20px;
}

.md-stepper-horizontal .md-step .md-step-bar-left {
  left: 0;
  right: 50%;
  margin-right: 20px;
}

.createbutton {
  background-color: #0000a0;
  color: #fff;
  border-radius: 0;
  width: 17%;
}

.breadcrumb-item + .breadcrumb-item::before {
  color: #fff;
}

.breadcrumb-item.active {
  color: #b3bcc5;
}

.createtestlabel {
  margin: 3% 0 0 0;
  background-color: #0000a0;
  color: #fff;
  width: 83%;
  height: 35px;
  text-align: center !important;
  padding: 6px 0 0 0px;
  font-weight: bold;
}

.borderradnone {
  border-radius: 0;
}

.testform {
  margin: 3% 0 0 3%;
}

.applform {
  margin: 8% 0 0 0px;
  max-width: 100%;
}

.uploadstorebut {
  width: 80%;
  margin: 17%;
  background-color: #0000a0;
  color: #fff;
  border-radius: 0;
  /* margin-right: 0; */
  display: block;
}

.refresh {
  background-color: #0000a0;
  color: #fff;
  border-radius: 0;
  display: block;
  float: left;
  margin: 0 0 0 4%;
  width: 25%;
}

.compute {
  margin: 0 0 5% 4%;
  width: 35%;
  background-color: #0000a0;
  color: #fff;
  border-radius: 0;
  display: block;
}

.goback {
  background-color: #0000a0;
  color: #fff;
  border-radius: 0;
  display: block;
  float: left;
  width: 30%;
}

.testcard {
  margin: 0 0 5% 12%;
  background-color: #e6a000;
  height: auto;
  width: auto;
}

.testappsel {
  color: #0000a0;
  text-align: center !important;
  font-weight: bold;
  display: block;
}

/*Wizard1-stepper 4,5,6 navbar */
/*---------------------------Arch wizard custom-------------------*/
/*Button Groups*/
.stponenxt {
  height: 38px;
  float: right;
  margin-top: 61px;
  width: 90px;
}

.reset {
  height: 38px;
  width: 90px;
}

.state-str-filter {
  height: 38px;
  width: 90px;
}

.savecontinue {
  height: 38px;
  float: right;
  margin-top: 61px;
}

.stponebck {
  height: 38px;
  width: 90px;
  margin: 63px 3px;
  bottom: 61px;
  left: 83px;
}

.Footerbtngrp {
  margin: 2vw 0px;
}

.submit {
  margin-top: -1rem;
  margin-left: 1rem;
  color: white;
  background-color: #0386ff;
  width: 100px;
  border-radius: 0;
}

.upld-selectstr-label {
  left: 215px;
  top: 35px;
  margin-top: 1rem;
  margin-bottom: 3rem;
}
.butn {
  border: none;
  color: white;
  background-color: #0386ff;
  font-size: 16px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  cursor: pointer;
}

/*Button Groups*/
/*Test Planning*/
.testnameinpt {
  width: 354px;
}

#testname.form-control {
  display: inline-block;
}

.test_name_content {
  margin-top: 1rem;
  margin-left: 2rem;
  margin-bottom: 1rem;
}

.identify-control-storebtn {
  height: 35px;
  margin-left: 2rem;
  width: 328px;
}

/*Test Planning*/
/*Material*/
.mat-radio-button ~ .mat-radio-button {
  margin-left: 30px;
}

::ng-deep .mat-radio-button.mat-accent .mat-radio-inner-circle {
  background-color: #2e91fb !important;
  /*inner circle color change*/
}

::ng-deep.mat-radio-button.mat-accent.mat-radio-checked .mat-radio-outer-circle {
  border-color: #2e91fb !important;
  /*outer ring color change*/
}

::ng-deep.mat-radio-outer-circle {
  border-color: #2e91fb !important;
  /*outer ring color change*/
}

table.mat-table {
  border-spacing: 0 !important;
  width: 100%;
}

.mat-elevation-z8 {
  box-shadow: none !important;
}

tr.mat-header-row {
  background-color: #0000a0 !important;
}

th.mat-header-cell {
  color: #fff !important;
  border-right: 3px solid #e0e0e0;
}

td.mat-cell {
  padding: 0;
  border-bottom-width: 3px !important;
  border-bottom-style: solid !important;
  border-right: 3px solid #e0e0e0 !important;
  padding-left: 18px;
}

.table-header-label {
  margin-left: 23px;
  font-size: 16px;
}

.sub-td {
  border-bottom: 2px solid #ebebeb;
  padding: 10px;
}

.mat-checkbox-inner-container-no-side-margin {
  margin-left: 40px !important;
}

.search_filter {
  float: right !important;
}

/*Material*/
/*File Upload*/
.fileUpload {
  position: relative;
  overflow: hidden;
  background-color: #041e42;
  color: white;
}

.fileUpload input.upload {
  position: absolute;
  top: 0;
  right: 0;
  margin: 0;
  padding: 0;
  font-size: 20px;
  cursor: pointer;
  opacity: 0;
  filter: alpha(opacity=0);
}

.input-group-addon,
.input-group-btn {
  width: 0px !important;
  white-space: nowrap;
  vertical-align: middle;
}

#uploadtest.input-group {
  position: relative;
  display: -webkit-box;
  display: flex;
  flex-wrap: wrap;
  -webkit-box-align: stretch;
  align-items: stretch;
  width: 273px !important;
  margin-top: 1rem;
  margin-bottom: 1rem;
}

#uploadtestandcntrl.input-group {
  position: relative;
  display: -webkit-box;
  display: flex;
  flex-wrap: wrap;
  -webkit-box-align: stretch;
  align-items: stretch;
  width: 273px !important;
  margin-top: 9px;
  margin-bottom: 0;
}
/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type="number"] {
  -moz-appearance: textfield;
}

.pencil {
  width: 13px;
}

.bin {
  width: 13px;
  margin-left: 10px;
}

.penicon {
  margin: 0 0 0 -25px;
}

.testplanform {
  color: #0000a0;
  text-align: center !important;
  font-weight: bold;
  display: block;
}

.pretestborder {
  border: 1px solid #ced4da;
  padding: 13px 5% 0 5%;
}

.deleteicon {
  position: absolute !important;
  margin: 0 0 0 -10px;
}
/*File Upload*/
@media (min-width: 1281px) {
  .filter-selecstr {
    left: 10px;
  }

  .srchbox {
    font-family: Arial, FontAwesome;
    margin-bottom: 1rem;
    width: 215px;
  }
}

@media (min-width: 1025px) and (max-width: 1280px) {
  .filter-selecstr {
    left: 0px;
  }

  .srchbox {
    font-family: Arial, FontAwesome;
    margin-bottom: 1rem;
    width: 222px;
  }
}

@media (min-width: 768px) and (max-width: 1024px) and (orientation: landscape) {
  .filter-selecstr {
    left: 0px;
  }

  .srchbox {
    font-family: Arial, FontAwesome;
    margin-bottom: 1rem;
    width: 155px;
  }
  .testnameinpt {
    width: 280px;
  }
  .identify-control-storebtn {
    height: 35px;
    margin-left: 2rem;
    width: 285px;
  }
}

@media screen and (min-width: 600px) and (max-width: 800px) {
}
